<body>
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <div class="my-4">
        <p class="display-6 font-size: 20px; font-weight-bold; text-primary text-sm" style="white-space: nowrap;">Signup</p>
      </div>
    </div>
  </div>

  <div id="form">
    <form action="/auth/signup" method="POST">

      <label> Username
        <input type="text" name="username" placeholder="Your username" />
      </label>

      <label> Email
        <input type="email" name="email" placeholder="Your email" />
      </label>

      <label> Password
        <input type="password" name="password" placeholder="Your password" />
      </label>

      <button type="submit">Sign Up</button>


      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>

</body>