<h2>Create Cities 123</h2>

<form method="POST" action="/cities/cities-create">
    <label> Title:
        <input type="text" name="title" />
    </label>

    <label> Description:
        <textarea name="description" cols="30" rows="4"> </textarea>
    </label>

    <label> Rate:
        <input type="number" name="rating" min="1" max="5" />
    </label>

    <label> Images:
        <input type="file" name="imageUrl" accept="image/*" />
    </label>

    <label> Population:
        <input type="number" name="population" />
    </label>

    <label for="season"> Season:
        <select id="seasons">
            <option label="Winter">Winter</option>
            <option label="Spring">Spring</option>
            <option label="Summer">Summer</option>
            <option label="Autumn">Autumn</option>
        </select>
    </label>

    <button type="submit"> Create </button>

    <p>THE END OF CREATE</p>
</form>